In [2]:
import numpy as np
import pandas as pn

In [3]:
 im_data= pn.read_csv('FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding = "latin-1")

In [6]:
im_data.head(10)

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
5,4,Algeria,2903,Vegetal Products,664,Food supply (kcal/capita/day),kcal/capita/day,2932.00,2958.00,2941.00,2921.00,2932.00
6,4,Algeria,2903,Vegetal Products,674,Protein supply quantity (g/capita/day),g/capita/day,67.14,67.38,67.37,66.11,67.10
7,4,Algeria,2903,Vegetal Products,684,Fat supply quantity (g/capita/day),g/capita/day,53.84,54.72,52.04,55.59,54.57
8,4,Algeria,2941,Animal Products,664,Food supply (kcal/capita/day),kcal/capita/day,444.00,421.00,431.00,421.00,390.00
9,4,Algeria,2941,Animal Products,674,Protein supply quantity (g/capita/day),g/capita/day,27.76,26.97,27.35,26.71,24.73

In [7]:
im_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60943 entries, 0 to 60942
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Area Code     60943 non-null  int64
 1   Area          60943 non-null  object
 2   Item Code     60943 non-null  int64
 3   Item          60943 non-null  object
 4   Element Code  60943 non-null  int64
 5   Element       60943 non-null  object
 6   Unit          60943 non-null  object
 7   Y2014         59354 non-null  float64
 8   Y2015         59395 non-null  float64
 9   Y2016         59408 non-null  float64
 10  Y2017         59437 non-null  float64
 11  Y2018         59507 non-null  float64
dtypes: float64(5), int64(3), object(4)
memory usage: 5.6+ MB

In [17]:
im_data.shape

(60943, 12)

In [8]:
##Question number 1

In [30]:
grouped_data = im_data.groupby('Area')['Y2017'].sum()

In [61]:
grouped_data.sort_values(ascending=False)

Element
Domestic supply quantity                  2088198.10
Production                                2030056.89
Food                                      1258888.28
Total Population - Both sexes             1112641.00
Food supply (kcal/capita/day)              454681.00
Import Quantity                            294559.09
Processing                                 292836.00
Feed                                       223705.68
Export Quantity                            182338.80
Losses                                     160614.00
Other uses (non-food)                       91645.97
Stock Variation                             54316.91
Food supply quantity (kg/capita/yr)         48690.04
Residuals                                   35500.00
Seed                                        24870.14
Protein supply quantity (g/capita/day)      11842.45
Fat supply quantity (g/capita/day)          10253.84
Tourist consumption                            91.00
Name: Y2017, dtype: float64

In [62]:
## Question 4

In [63]:
missing_values_2014 = im_data['Y2014'].isnull().sum()
total_row = len(im_data)
per_miss = (missing_values_2014/total_row)*100

In [64]:
missing_values_2014, per_miss

(1589, 2.6073544131401474)

In [65]:
        ## Question 5

In [66]:
##no idea

In [67]:
    ## Question 6

In [68]:
grouped_data_element = im_data.groupby('Element')['Y2017'].sum()

In [69]:
processing_2017 = grouped_data_element.get('Processing',0)

In [70]:
processing_2017

292836.0

In [71]:
## Question 7

In [72]:
my_tuppy = (1,2,5,8)
my_tuppy[2] =6

TypeError: 'tuple' object does not support item assignment

In [76]:
## Question 8

In [77]:
mean_17 = im_data['Y2017'].mean()
SD_17 = im_data['Y2017'].std()

In [78]:
mean_17, SD_17

(140.9177648602722, 1671.8623590572788)

In [79]:
## Question 9

In [87]:
gp_data=im_data.groupby('Element')[['Y2014','Y2015','Y2016','Y2017']].sum()

In [88]:
gp_data.idxmax(axis=1)

Element
Domestic supply quantity                  Y2017
Export Quantity                           Y2017
Fat supply quantity (g/capita/day)        Y2017
Feed                                      Y2016
Food                                      Y2017
Food supply (kcal/capita/day)             Y2017
Food supply quantity (kg/capita/yr)       Y2014
Import Quantity                           Y2017
Losses                                    Y2017
Other uses (non-food)                     Y2017
Processing                                Y2017
Production                                Y2017
Protein supply quantity (g/capita/day)    Y2017
Residuals                                 Y2016
Seed                                      Y2017
Stock Variation                           Y2014
Total Population - Both sexes             Y2017
Tourist consumption                       Y2014
dtype: object

In [89]:
s = [['him','sell'],[90,28,43]]

In [92]:
s[0][1][1]

'e'

In [94]:
## Question 12

In [95]:
im_data['Area'].nunique()

49